@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  /* furniro */

  --color: #3a3a3a;
  --color: #898989;
  --color: #b0b0b0;
  --color: #e97171;
  --color: #f4f5f7;
  --color: #ffffff;
  --color: #b88e2f;
  --red-color: #f53855;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #f5f5f5;
  --dark-grey-color: #4f5665;
  --light-black-color: #0b132a;
  background: #ffffff;
  background: #f53838;
  background: #4f5665;
  background: #0b132a;
  background: linear-gradient(180deg, #ffe89e 10.64%, #ffbf1a 104.54%);
  background: #30235b;
  background: #2fab73;
  background: #23bb86;
  background: #fe9076;
  background: #ffa400;
  background: #ffa8003b;
  background: linear-gradient(184.03deg, #ff9f81 -12.37%, #f53838 114.33%);
  background: #dde0e4;
  background: #2f235a;
  background: #00000012;
  background: #f7f7f7;
  background: linear-gradient(194.37deg, #ffd481 -11.72%, #fa620c 158.72%);
  background: #111111;
  background: #ffbcbc;
  background: #dddddd;
  background: #e5fcff;
  background: #0d1025;
  background: #24c28a;
  background: #e0e0e0;
  background: #f5383859;
  background: #fea250;
  background: #ff7979;
  background: linear-gradient(207.71deg, #ffd481 10.79%, #fa620c 128.64%);
  background: linear-gradient(126.45deg, #ffd481 -31.99%, #fa620c 92.15%);
  background: #ffecec;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #fe9277 212.45%
  );
  background: #000000;
  background: #afb5c0;
  background: #b4b4b4;
  background: #cf0606;
  background: #e8e8e8;
  background: #eeeff2;
  background: #f0f0f0;
  background: #f53855;
  background: linear-gradient(202.61deg, #ffffff -41.76%, #d7d7d7 106.5%);
  background: #42d2ff1a;
  background: linear-gradient(184.67deg, #7f67ce -14.16%, #30235b 97.93%);
  background: #9effae;
  background: #e2e2e2;
  background: #e7f2ff;
  background: linear-gradient(
    26.55deg,
    #ececec -16.12%,
    rgba(245, 245, 245, 0) 100%
  );
  background: #f7474312;
  background: #f8f8f8;
  background: linear-gradient(
    180deg,
    #f8f8f8 -45.04%,
    rgba(248, 248, 248, 0) 88.56%
  );
  background: linear-gradient(183.72deg, #ff9f81 -12.7%, #f53838 114.19%);
  background: linear-gradient(180deg, #ffd5b7 0%, #ffab6d 100%);
  background: #ffdead;
  background: linear-gradient(178.43deg, #ffefe0 -75.91%, #ffbe99 55.96%);
  background: linear-gradient(180.92deg, #ffefe0 -112.42%, #ffbe99 68.91%);
  background: linear-gradient(180deg, #ffefe0 0%, #ffbe99 100%);
  background: linear-gradient(255.8deg, #ffefe0 -3.84%, #ffbe99 70.31%);
  background: linear-gradient(180deg, #ffefe0 -52.38%, #ffbe99 82.64%);
  background: linear-gradient(155.19deg, #ffefe0 0.65%, #ffbe99 69.62%);
  background: linear-gradient(178.69deg, #ffefe0 -37.04%, #ffbe99 94.16%);
  background: linear-gradient(180deg, #ffefe0 9.05%, #ffbe99 90.71%);
  background: linear-gradient(180deg, #ffffff -30.19%, #cccccc 131.01%);
  background: linear-gradient(268.2deg, #ffffff -32.15%, #cccccc 97.65%);
  background: #ffffff;
}
body {
  font-family: "Montserrat", sans-serif;
}
.logo {
  display: inline-flex;
  gap: 6px;
}

.logo h2 {
  font-size: 32px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
ul li {
  list-style: none;
}
.order-list li {
  display: inline-flex;
  padding: 30px;
}
.order-list a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.hero-icons {
  padding: 30px;
  margin-right: 10px;
}
.hero-icons img {
  padding-right: 30px;
}
.home {
  height: 100px;
  display: flex;
  gap: 4%;
  background-color: #f9f1e7;
  align-items: center;
  padding-left: 8%;
}
.asgard-sofa {
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* gap: 5%; */
}

.sofa-images {
  display: flex;
}
.four-img img {
  padding-bottom: 28px;
}

.asgard-main {
  display: flex;
  flex-wrap: wrap;
  gap: 180px;
  justify-content: center;
}
.asgard-section {
  margin-top: 50px;
}
.imgs-column1 img {
  padding-bottom: 25px;
}
.asgardsofa-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.asgard-content h1 {
  margin-bottom: 10px;
  font-size: 35px;
}
.rs-para {
  color: #9f9f9f;
}
.asgard-logo {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.asgard-logo p {
  margin-top: 10px;
  color: #9f9f9f;
}
.asgard-para {
  width: 415px;
  line-height: 1.5rem;
  margin-top: 10px;
}
.size-para {
  color: #9f9f9f;
  margin-top: 20px;
}
.asgard-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
.asgard-btn button {
  padding: 8px 10px;
  border: none;
  background-color: #f9f1e7;
  border-radius: 5px;
}
 

.asgard-btn button:hover {
  background-color: #b88e2f;
  color: white;
}
.clr-para {
  color: #9f9f9f;
  margin-top: 20px;
}
.asgard-color {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}
.cart-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
.cart-btn button {
  padding: 13px 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 17px;
}
hr {
  margin-top: 35px;
  color: #d9d9d9;
}
.asgard-text {
  margin-top: 40px;
}
.asgard-text1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #9f9f9f;
  line-height: 2rem;
}
.asgard-text1 img {
  height: 22px;
  margin-top: 3px;
}
/* .btn-l button{
  background-color: #b88e2f;
} */
/* .img-1 {
  margin-left: 27px;
}
.img-3 {
  margin-left: 28px;
} */
hr {
  margin-top: 35px;
  color: #b0b0b0;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-top: 5%;
}
.heading h2 {
  color: #9f9f9f;
  font-weight: 500;
}
.para {
  color: #9f9f9f;
  padding-top: 2%;
  font-size: 19px;
  text-align: center;
}
.image {
  margin-top: 3%;
  margin-left: 58px;
}
.img2 {
  margin-left: 22px;
}
.Products {
  margin-top: 5%;
}
.Products h1 {
  font-size: 35px;
  text-align: center;
}
.part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;
  padding-top: 3%;
}
.image-1,
.image-2,
.image-3,
.image-4 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #f4f5f7;
  height: 420px;
}
.part-1 p {
  font-size: 16px;
  color: #898989;
  /* padding-top: 3%; */
  padding-left: 4%;
}
.part-1 h4 {
  font-size: 20px;
  color: #3a3a3a;
  padding-top: 3%;
  padding-left: 4%;
}
.part-1 h3 {
  font-size: 23px;
  color: #3a3a3a;
  padding-top: 2%;
  padding-left: 4%;
}
.show button {
  padding: 15px 75px;
  color: #b88e2f;
  border: 2px solid #b88e2f;
  font-size: 18px;
  margin-left: 42%;
  margin-top: 2%;
  background-color: white;
  font-weight: 600;
}
/* footer */
.footer {
  margin-top: 7%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 14%;
  height: 370px;
}
.foot-2 {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  gap: 10%;
  padding-top: 3%;
}
.foot-2 p {
  padding-top: 50px;
  color: #000000;
}
.foot-2 h5 {
  color: #9f9f9f;
  font-size: 20px;
  font-weight: 500;
}
.footer-content h2 {
  font-size: 30px;
  padding-top: 10%;
}
.footer-content p {
  width: 290px;
  padding-top: 20%;
}
.foot-2 span {
  color: #9f9f9f;
  padding-right: 12px;
}
.news {
  width: 402px;
}
.news P{
  text-decoration: underline;
}
.help {
  width: 200px;
}